
* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
}

:root {
  --main-color1: #0f0f16;
  --main-color2: #24232c;
  --main-color3: #767383;
  --main-color4: #52515a;
  --main-color5: #18171f;
  --main-color6: #a3ffab;
  --main-color7: #fff;
  --main-color8: #f9ce5f;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color1);
  color: var(--main-color7);
  min-height: 100vh;
  font-size: 10px;
  padding: 16px;
}

#container {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.8em;
  row-gap: 16px;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 100%;
  color: var(--main-color3);
}

#password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  background-color: var(--main-color2);
  color: var(--main-color4);
  padding: 15px;
  width: 100%;
}

#copyBtn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#form {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color2);
  gap: 10px;
  width: 100%;
  padding: 0 16px;
  row-gap: 16px;
}

#characterLength {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#characterLength label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#characterLength span {
  color: var(--main-color6);
  font-size: 24px;
}
#characterLength input {
  cursor: pointer;
}

#checkboxUppercase label,
#checkboxLowercase label,
#checkboxNumbers label,
#checkboxSymbols label {
  display: flex;
  gap: 4px;
  padding: 0px 16px;
  cursor: pointer;
}

#strength {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  background-color: var(--main-color5);
  color: var(--main-color3);
}

#strengthBars {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 4px;
}

.strengthBar {
  display: flex;
  width: 10px;
  height: 20px;
  border: 1px solid var(--main-color7);
}

.strengthBar-none { background-color: transparent; }
.strengthBar-low { background-color: #c1121f; }
.strengthBar-medium { background-color: #f9ce5f; }
.strengthBar-high { background-color: #06d6a0; }
.strengthBar-very-high { background-color: #80ed99; }

#strengthLevel {
  color: var(--main-color7);
}

#buttonContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

#generateBtn {
  display: flex;
  justify-content: center;
  background-color: var(--main-color6);
  color: var(--main-color2);
  width: 90%;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#generateBtn:hover {
  background-color: transparent;
  border: 1px solid var(--main-color6);
  color: var(--main-color6);
}

#buttonContainer i {
  padding: 2px 10px;
}